html, body, .wrapper {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: normal;
  background-color: $body-color;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', 'Arial', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: bold;
}

button {
  cursor: pointer;
}

a {
  color: #000;
  &:hover {
    text-decoration: none;
  }
}
